<html>
<head>
    <title>Places I've Been</title>
</head>
<body>
    <h1>You Added a New Place</h1>
    <p>{{ newplace.getName }}</p>
    <p><a href='/'>View the Places You've Been.</a></p>
</body>
</html>
